<%- include('header') -%>

<div class="container">
    <div>
      <h1>Convertisseur de devises</h1>
      <form action="/convertirDevises" method="POST">
        <fieldset>
          <div class="mb-3">
            <label for="usd" class="form-label">Somme en &dollar; :</label>
            <input type="number" step=".01" id="usd" name="usd" class="form-control" placeholder="0" onchange="prepareRateRequestBeforeSubmit(this)"
              <% if (exchangeAmounts.usd) { %>
                value="<%= exchangeAmounts.usd %>"
              <% } else if (parsedBody.usd) { %>
                value="<%= parsedBody.usd %>"
              <% } %>
            >
          </div>
          <div class="mb-3">
            <label for="euro" class="form-label">Somme en &euro; :</label>
            <input type="number" step=".01" id="euro" name="euro" class="form-control" placeholder="0" onchange="prepareRateRequestBeforeSubmit(this)"
              <% if (exchangeAmounts.euro) { %>
                value="<%= exchangeAmounts.euro %>"
              <% } else if (parsedBody.euro) { %>
                value="<%= parsedBody.euro %>"
              <% } %>
            >
          </div>
          <div class="mb-3">
            <label for="yen" class="form-label">Somme en &yen; :</label>
            <input type="number" id="yen" name="yen" class="form-control" placeholder="0" onchange="prepareRateRequestBeforeSubmit(this)"
              <% if (exchangeAmounts.yen) { %>
                value="<%= exchangeAmounts.yen %>"
              <% } else if (parsedBody.yen) { %>
                value="<%= parsedBody.yen %>"
              <% } %>
            >
          </div>
          <input type="hidden" id="changedCurrency" name="changedCurrency" value="">
        </fieldset>
      </form>
    </div>
</div>
<script>
  function prepareRateRequestBeforeSubmit(changedCurrency){
    let changedCurrencyInput = document.getElementById('changedCurrency');
    changedCurrencyInput.value = changedCurrency.name;
    
    changedCurrency.form.submit();
  }
</script>
<%- include('footer') -%>