<%- include('header') -%>

<div class="container">
    <div>
      <h1>Inscription</h1>
      <form action="/inscription" method="POST">
          <legend>Calculer votre IMC en complétant le formulaire ci-dessous :</legend>
          <div class="mb-3">
            <label for="firstname" class="form-label">Prénom :</label>
            <input type="text" id="firstname" name="firstname" class="form-control" placeholder="Doe" <% if(parsedBody !== {}){ %>value="<%= parsedBody.firstname %>"<% } %>
            required>
          </div>
          <div class="mb-3">
            <label for="lastname" class="form-label">Prénom :</label>
            <input type="text" id="lastname" name="lastname" class="form-control" placeholder="John" <% if(parsedBody !== {}){ %>value="<%= parsedBody.lastname %>"<% } %>
            required>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email :</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="john.doe@gmail.com" <% if(parsedBody !== {}){ %>value="<%= parsedBody.email %>"<% } %>
            required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Mot de passe :</label>
            <input type="password" id="password" name="password" class="form-control" <% if(parsedBody !== {}){ %>value="<%= parsedBody.password %>"<% } %>
            required>
          </div>
          <div class="mb-3">
            <label for="confirmedPassword" class="form-label">Confirmer mot de passe :</label>
            <input type="password" id="confirmedPassword" name="confirmedPassword" class="form-control" <% if(parsedBody !== {}){ %>value="<%= parsedBody.confirmedPassword %>"<% } %>
            required>
          </div>
          <div class="mb-3">
            <label for="birthDate" class="form-label">Date de naissance :</label>
            <input type="date" id="birthDate" name="birthDate" class="form-control" <% if(parsedBody !== {}){ %>value="<%= parsedBody.birthDate %>"<% } %>
            required>
          </div>
          <div class="mb-3">
            <label for="address" class="form-label">Adresse :</label>
            <input type="text" id="address" name="address" class="form-control" <% if(parsedBody !== {}){ %>value="<%= parsedBody.address %>"<% } %>
            required>
          </div>
          <div class="mb-3">
            <label for="postalCode" class="form-label">Code postal :</label>
            <input type="text" id="postalCode" name="postalCode" class="form-control" <% if(parsedBody !== {}){ %>value="<%= parsedBody.postalCode %>"<% } %>
            required>
          </div>
          <div class="mb-3">
            <label for="city" class="form-label">Ville :</label>
            <input type="text" id="city" name="city" class="form-control" <% if(parsedBody !== {}){ %>value="<%= parsedBody.city %>"<% } %>
            required>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
      </form>
    </div>

    <% if(subscriptionResult !== {}) { %>
    <hr>
    <div class="container">
        <div class="row">
          <% if(subscriptionResult.valid) { %>
          <p>Bonjour <%= parsedBody.firstname -%>,</p>
          <p><%= subscriptionResult.message -%></p>
          <% } else { %>
          <p><%= subscriptionResult.message -%></p>
          <% } %>
        </div>
    </div>
    <% } %>
</div>

<%- include('footer') -%>
